In [5]:
import pandas as pd
import numpy
import pyreadstat
df = pd.read_spss('teachingratings.sav')
print(df)

    minority   age  gender credits    beauty  eval division native tenure  \
0        yes  36.0  female    more  0.289916   4.3    upper    yes    yes
1        yes  36.0  female    more  0.289916   3.7    upper    yes    yes
2        yes  36.0  female    more  0.289916   3.6    upper    yes    yes
3        yes  36.0  female    more  0.289916   4.4    upper    yes    yes
4         no  59.0    male    more -0.737732   4.5    upper    yes    yes
..       ...   ...     ...     ...       ...   ...      ...    ...    ...
458       no  37.0    male    more  0.933396   3.5    upper    yes    yes
459       no  58.0  female    more  0.111563   3.5    upper    yes    yes
460       no  42.0    male    more -0.900580   4.0    upper    yes    yes
461       no  39.0    male    more  0.643014   4.3    upper    yes    yes
462       no  51.0  female    more  0.391822   3.0    upper    yes    yes

     students  allstudents  prof     PrimaryLast vismin female single_credit  \
0        24.0         43.0   1.0  Duplicate Case    yes    yes            no
1        86.0        125.0   1.0  Duplicate Case    yes    yes            no
2        76.0        125.0   1.0  Duplicate Case    yes    yes            no
3        77.0        123.0   1.0    Primary Case    yes    yes            no
4        17.0         20.0   2.0  Duplicate Case     no     no            no
..        ...          ...   ...             ...    ...    ...           ...
458      15.0         17.0  40.0    Primary Case     no     no            no
459      26.0         34.0  47.0    Primary Case     no    yes            no
460      45.0         86.0  61.0    Primary Case     no     no            no
461      22.0         29.0  62.0    Primary Case     no     no            no
462      47.0         67.0  69.0    Primary Case     no    yes            no

    upper_division English_speaker tenured_prof
0              yes             yes          yes
1              yes             yes          yes
2              yes             yes          yes
3              yes             yes          yes
4              yes             yes          yes
..             ...             ...          ...
458            yes             yes          yes
459            yes             yes          yes
460            yes             yes          yes
461            yes             yes          yes
462            yes             yes          yes

[463 rows x 19 columns]

In [2]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [27]:
unikqe = df['prof'].unique()
print(dir(unikqe))
print(unikqe.sort)
print(unikqe.size)

['T', '__abs__', '__add__', '__and__', '__array__', '__array_finalize__', '__array_function__', '__array_interface__', '__array_prepare__', '__array_priority__', '__array_struct__', '__array_ufunc__', '__array_wrap__', '__bool__', '__buffer__', '__class__', '__class_getitem__', '__complex__', '__contains__', '__copy__', '__deepcopy__', '__delattr__', '__delitem__', '__dir__', '__divmod__', '__dlpack__', '__dlpack_device__', '__doc__', '__eq__', '__float__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__iand__', '__ifloordiv__', '__ilshift__', '__imatmul__', '__imod__', '__imul__', '__index__', '__init__', '__init_subclass__', '__int__', '__invert__', '__ior__', '__ipow__', '__irshift__', '__isub__', '__iter__', '__itruediv__', '__ixor__', '__le__', '__len__', '__lshift__', '__lt__', '__matmul__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rlshift__', '__rmatmul__', '__rmod__', '__rmul__', '__ror__', '__rpow__', '__rrshift__', '__rshift__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__setitem__', '__setstate__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__xor__', 'all', 'any', 'argmax', 'argmin', 'argpartition', 'argsort', 'astype', 'base', 'byteswap', 'choose', 'clip', 'compress', 'conj', 'conjugate', 'copy', 'ctypes', 'cumprod', 'cumsum', 'data', 'diagonal', 'dot', 'dtype', 'dump', 'dumps', 'fill', 'flags', 'flat', 'flatten', 'getfield', 'imag', 'item', 'itemset', 'itemsize', 'max', 'mean', 'min', 'nbytes', 'ndim', 'newbyteorder', 'nonzero', 'partition', 'prod', 'ptp', 'put', 'ravel', 'real', 'repeat', 'reshape', 'resize', 'round', 'searchsorted', 'setfield', 'setflags', 'shape', 'size', 'sort', 'squeeze', 'std', 'strides', 'sum', 'swapaxes', 'take', 'tobytes', 'tofile', 'tolist', 'tostring', 'trace', 'transpose', 'var', 'view']
<built-in method sort of numpy.ndarray object at 0x000001908136FF30>
94

In [12]:
print(df.columns)

Index(['minority', 'age', 'gender', 'credits', 'beauty', 'eval', 'division',
       'native', 'tenure', 'students', 'allstudents', 'prof', 'PrimaryLast',
       'vismin', 'female', 'single_credit', 'upper_division',
       'English_speaker', 'tenured_prof'],
      dtype='object')

In [32]:
teaching_features = ['age', 'eval', 'gender', 'prof', 'beauty']
X = df[teaching_features]
print(X)
print(X.describe())

      age  eval  gender  prof    beauty
0    36.0   4.3  female   1.0  0.289916
1    36.0   3.7  female   1.0  0.289916
2    36.0   3.6  female   1.0  0.289916
3    36.0   4.4  female   1.0  0.289916
4    59.0   4.5    male   2.0 -0.737732
..    ...   ...     ...   ...       ...
458  37.0   3.5    male  40.0  0.933396
459  58.0   3.5  female  47.0  0.111563
460  42.0   4.0    male  61.0 -0.900580
461  39.0   4.3    male  62.0  0.643014
462  51.0   3.0  female  69.0  0.391822

[463 rows x 5 columns]
              age        eval        prof        beauty
count  463.000000  463.000000  463.000000  4.630000e+02
mean    48.365011    3.998272   45.434125  6.271140e-08
std      9.802742    0.554866   27.508902  7.886477e-01
min     29.000000    2.100000    1.000000 -1.450494e+00
25%     42.000000    3.600000   20.000000 -6.562689e-01
50%     48.000000    4.000000   44.000000 -6.801430e-02
75%     57.000000    4.400000   70.500000  5.456024e-01
max     73.000000    5.000000   94.000000  1.970023e+00

In [75]:
female_instructor = pd.DataFrame({'index':[], 'age':[], 'eval':[], 'gender':[], 'prof':[], 'beauty':[]})
for row in X.itertuples():
    if row.gender == 'female':
        female_instructor.loc[len(female_instructor)] = row
female_instructor_clean = female_instructor.drop_duplicates(subset='prof')
print(len(female_instructor_clean))
print(female_instructor_clean.describe())

40
            index        age       eval      prof     beauty
count   40.000000  40.000000  40.000000  40.00000  40.000000
mean   258.575000  44.950000   3.785000  47.37500   0.252303
std    150.991575   8.935524   0.502073  28.71941   0.843667
min      0.000000  29.000000   2.300000   1.00000  -1.450494
25%    117.500000  37.750000   3.400000  20.75000  -0.257842
50%    284.000000  45.000000   3.800000  50.00000   0.194589
75%    386.750000  52.000000   4.075000  70.50000   0.910720
max    462.000000  62.000000   4.600000  94.00000   1.970023

In [80]:
male_instructor = pd.DataFrame({'index':[], 'age':[], 'eval':[], 'gender':[], 'prof':[], 'beauty':[]})
for row in X.itertuples():
    if row.gender == 'male':
        male_instructor.loc[len(male_instructor)] = row
male_instructor_clean = male_instructor.drop_duplicates(subset='prof')
print(len(male_instructor_clean))
print(male_instructor_clean.describe())

54
            index        age      eval       prof     beauty
count   54.000000  54.000000  54.00000  54.000000  54.000000
mean   247.129630  49.481481   4.02037  47.592593  -0.033098
std    135.037248  10.813585   0.52750  26.435767   0.801559
min      4.000000  32.000000   2.20000   2.000000  -1.422919
25%    146.750000  42.000000   3.70000  27.250000  -0.702332
50%    232.000000  49.500000   4.10000  44.500000  -0.174450
75%    359.750000  58.750000   4.37500  70.750000   0.585597
max    461.000000  73.000000   4.90000  93.000000   1.774334

another way to group by.

In [79]:
instructors_clean = X.drop_duplicates(subset='prof')
print('Real number of instructors :  ', len(instructors_clean))
grouped_instructors = instructors_clean.groupby('gender')('male').agg(['mean', 'median', 'std', 'count', 'min', 'max'])

Real number of instructors :   94

TypeError: 'DataFrameGroupBy' object is not callable